body{
    background-color: darkslategray;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}
.logo{
    font-weight: bold;
    font-size: larger;
}
footer{
    color: white;
    text-align: center;
}
footer li a{
    color: white;
}
footer li{
    list-style: none;
}
article{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}
article a{
    color: orange;
    text-decoration: underline;
    transition-duration: 0s;
}
article a:hover{
    color: rgb(205, 113, 0);
}
#footercontent{
    display: inline-block;
    width: 100%;
    text-align: center;
}
footer ul{
    padding-left: 0; padding-right: 0;
    margin-left: 0; margin-right: 0;
}
footer li a:hover{
    text-decoration: underline;
}
.gameinfo{
    /*display: flex;*/
    width: 70%;
    margin: auto;
}
.gameinfo>*{
    display: inline-block;
}
#gameimg div{
    overflow: hidden;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.ginfo{
    margin: 10px;
    flex: 10;
}
#startinggame{
    background-color: black;
    width: 100%;
    height: 1080px;
}